<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ProductionRemoteDirectory" value="\\10.236.6.21\apfhome\log\AMAlog;\\10.236.6.22\apfhome\log\AMAlog;\\10.236.6.23\apfhome\log\AMAlog"/>
    <add key="ProductionPrefix" value="ProductSvr01_;ProductSvr02_;ProductSvr03_"/>
    <add key="PirunRemoteDirectory" value="\\10.236.6.123\apfhome\log\AMAlog\;\\10.236.6.124\apfhome\log\AMAlog\"/>
    <add key="PirunPrefix" value="PirunSvr01_;PirunSvr02_"/>
    <add key="Production" value="\\10.236.6.21\apfhome\models\SMICRTD\reports\c\AMA\AMA_Configurations"/>
    <add key="Pirun" value="\\10.236.6.123\apfhome\models\SMICRTD\reports\c\AMA\AMA_Configurations"/>
    <add key="MaxCount" value="10000"/>
    <!--TibcoRV Setting-->
    <add key="Encoding" value="big5"/>
    <add key="Service" value="15680"/>
    <add key="Daemon" value="tcp:10.236.110.11:7500"/>
    <add key="Network" value=";237.101.0.11"/>
    <add key="ListenSubject" value="B2.MIT.DEV.AMATESTSVR.>"/>
    <add key="SendSubject" value="XA.SMNCTEST.COMM_SRV.>"/>  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
